USE [master]
GO
/****** Object:  Database [Trip]    Script Date: 2018/5/30 22:49:26 ******/
CREATE DATABASE [Trip]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Trip', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Trip.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Trip_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Trip_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trip].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trip]
GO
USE [Trip]
GO
/****** Object:  Table [dbo].[宾馆]    Script Date: 2018/5/30 22:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[宾馆](
	[宾馆编号] [varchar](20) NOT NULL,
	[宾馆名称] [nvarchar](50) NOT NULL,
	[星级] [int] NOT NULL,
	[标准房价] [money] NOT NULL,
	[电话] [varchar](30) NOT NULL,
 CONSTRAINT [PK_宾馆] PRIMARY KEY CLUSTERED 
(
	[宾馆编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[宾馆安排]    Script Date: 2018/5/30 22:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[宾馆安排](
	[宾馆编号] [varchar](20) NOT NULL,
	[线路编号] [varchar](20) NOT NULL,
 CONSTRAINT [PK_宾馆安排] PRIMARY KEY CLUSTERED 
(
	[宾馆编号] ASC,
	[线路编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[参团游客]    Script Date: 2018/5/30 22:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[参团游客](
	[旅游团号] [varchar](20) NOT NULL,
	[游客身份证号] [varchar](20) NOT NULL,
 CONSTRAINT [PK_参团游客] PRIMARY KEY CLUSTERED 
(
	[旅游团号] ASC,
	[游客身份证号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[导游]    Script Date: 2018/5/30 22:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[导游](
	[导游编号] [varchar](20) NOT NULL,
	[导游姓名] [nvarchar](20) NOT NULL,
	[性别] [tinyint] NOT NULL,
	[入职日期] [date] NOT NULL,
	[级别] [int] NOT NULL,
 CONSTRAINT [PK_导游] PRIMARY KEY CLUSTERED 
(
	[导游编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[导游安排]    Script Date: 2018/5/30 22:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[导游安排](
	[旅游团号] [varchar](20) NOT NULL,
	[导游编号] [varchar](20) NOT NULL,
 CONSTRAINT [PK_导游安排] PRIMARY KEY CLUSTERED 
(
	[旅游团号] ASC,
	[导游编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[景点]    Script Date: 2018/5/30 22:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[景点](
	[景点编号] [varchar](20) NOT NULL,
	[景点名称] [nvarchar](50) NOT NULL,
	[所在地] [nvarchar](30) NOT NULL,
	[级别] [int] NOT NULL,
	[电话] [varchar](20) NOT NULL,
	[票价] [money] NOT NULL,
 CONSTRAINT [PK_景点] PRIMARY KEY CLUSTERED 
(
	[景点编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[景点安排]    Script Date: 2018/5/30 22:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[景点安排](
	[景点编号] [varchar](20) NOT NULL,
	[线路编号] [varchar](20) NOT NULL,
 CONSTRAINT [PK_景点安排] PRIMARY KEY CLUSTERED 
(
	[景点编号] ASC,
	[线路编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[旅游团]    Script Date: 2018/5/30 22:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[旅游团](
	[团号] [varchar](20) NOT NULL,
	[团名] [nvarchar](50) NOT NULL,
	[人数限制] [int] NOT NULL,
	[报价] [money] NOT NULL,
	[组团日期] [date] NOT NULL,
	[开始日期] [date] NOT NULL,
	[结束日期] [date] NOT NULL,
 CONSTRAINT [PK_旅游团] PRIMARY KEY CLUSTERED 
(
	[团号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[群体]    Script Date: 2018/5/30 22:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[群体](
	[群体编号] [varchar](20) NOT NULL,
	[人数] [smallint] NOT NULL,
	[备注信息] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_群体_1] PRIMARY KEY CLUSTERED 
(
	[群体编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[所属群体]    Script Date: 2018/5/30 22:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[所属群体](
	[群体编号] [varchar](20) NOT NULL,
	[游客身份证号] [varchar](20) NOT NULL,
 CONSTRAINT [PK_所属群体] PRIMARY KEY CLUSTERED 
(
	[群体编号] ASC,
	[游客身份证号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[线路]    Script Date: 2018/5/30 22:49:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[线路](
	[线路号] [varchar](20) NOT NULL,
	[出发时间] [date] NOT NULL,
	[回程时间] [date] NOT NULL,
	[线路说明] [nvarchar](50) NULL,
 CONSTRAINT [PK_线路] PRIMARY KEY CLUSTERED 
(
	[线路号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[线路安排]    Script Date: 2018/5/30 22:49:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[线路安排](
	[旅游团号] [varchar](20) NOT NULL,
	[线路编号] [varchar](20) NOT NULL,
 CONSTRAINT [PK_线路安排] PRIMARY KEY CLUSTERED 
(
	[旅游团号] ASC,
	[线路编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[游客]    Script Date: 2018/5/30 22:49:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[游客](
	[身份证号] [varchar](20) NOT NULL,
	[游客姓名] [nvarchar](10) NOT NULL,
	[性别] [tinyint] NOT NULL,
	[民族] [nvarchar](10) NOT NULL,
	[出生日期] [date] NOT NULL,
	[手机号] [varchar](20) NOT NULL,
	[类型] [int] NOT NULL,
	[紧急联系人] [nvarchar](10) NULL,
	[紧急联系号码] [varchar](20) NULL,
 CONSTRAINT [PK_游客] PRIMARY KEY CLUSTERED 
(
	[身份证号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[宾馆安排]  WITH CHECK ADD  CONSTRAINT [FK_宾馆安排_宾馆] FOREIGN KEY([宾馆编号])
REFERENCES [dbo].[宾馆] ([宾馆编号])
GO
ALTER TABLE [dbo].[宾馆安排] CHECK CONSTRAINT [FK_宾馆安排_宾馆]
GO
ALTER TABLE [dbo].[宾馆安排]  WITH CHECK ADD  CONSTRAINT [FK_宾馆安排_线路] FOREIGN KEY([线路编号])
REFERENCES [dbo].[线路] ([线路号])
GO
ALTER TABLE [dbo].[宾馆安排] CHECK CONSTRAINT [FK_宾馆安排_线路]
GO
ALTER TABLE [dbo].[参团游客]  WITH CHECK ADD  CONSTRAINT [FK_参团游客_旅游团] FOREIGN KEY([旅游团号])
REFERENCES [dbo].[旅游团] ([团号])
GO
ALTER TABLE [dbo].[参团游客] CHECK CONSTRAINT [FK_参团游客_旅游团]
GO
ALTER TABLE [dbo].[参团游客]  WITH CHECK ADD  CONSTRAINT [FK_参团游客_游客] FOREIGN KEY([游客身份证号])
REFERENCES [dbo].[游客] ([身份证号])
GO
ALTER TABLE [dbo].[参团游客] CHECK CONSTRAINT [FK_参团游客_游客]
GO
ALTER TABLE [dbo].[导游安排]  WITH CHECK ADD  CONSTRAINT [FK_导游安排_导游] FOREIGN KEY([导游编号])
REFERENCES [dbo].[导游] ([导游编号])
GO
ALTER TABLE [dbo].[导游安排] CHECK CONSTRAINT [FK_导游安排_导游]
GO
ALTER TABLE [dbo].[导游安排]  WITH CHECK ADD  CONSTRAINT [FK_导游安排_旅游团] FOREIGN KEY([旅游团号])
REFERENCES [dbo].[旅游团] ([团号])
GO
ALTER TABLE [dbo].[导游安排] CHECK CONSTRAINT [FK_导游安排_旅游团]
GO
ALTER TABLE [dbo].[景点安排]  WITH CHECK ADD  CONSTRAINT [FK_景点安排_景点] FOREIGN KEY([景点编号])
REFERENCES [dbo].[景点] ([景点编号])
GO
ALTER TABLE [dbo].[景点安排] CHECK CONSTRAINT [FK_景点安排_景点]
GO
ALTER TABLE [dbo].[景点安排]  WITH CHECK ADD  CONSTRAINT [FK_景点安排_线路] FOREIGN KEY([线路编号])
REFERENCES [dbo].[线路] ([线路号])
GO
ALTER TABLE [dbo].[景点安排] CHECK CONSTRAINT [FK_景点安排_线路]
GO
ALTER TABLE [dbo].[所属群体]  WITH CHECK ADD  CONSTRAINT [FK_所属群体_群体] FOREIGN KEY([群体编号])
REFERENCES [dbo].[群体] ([群体编号])
GO
ALTER TABLE [dbo].[所属群体] CHECK CONSTRAINT [FK_所属群体_群体]
GO
ALTER TABLE [dbo].[所属群体]  WITH CHECK ADD  CONSTRAINT [FK_所属群体_游客] FOREIGN KEY([游客身份证号])
REFERENCES [dbo].[游客] ([身份证号])
GO
ALTER TABLE [dbo].[所属群体] CHECK CONSTRAINT [FK_所属群体_游客]
GO
ALTER TABLE [dbo].[线路安排]  WITH CHECK ADD  CONSTRAINT [FK_线路安排_旅游团] FOREIGN KEY([旅游团号])
REFERENCES [dbo].[旅游团] ([团号])
GO
ALTER TABLE [dbo].[线路安排] CHECK CONSTRAINT [FK_线路安排_旅游团]
GO
ALTER TABLE [dbo].[线路安排]  WITH CHECK ADD  CONSTRAINT [FK_线路安排_线路] FOREIGN KEY([线路编号])
REFERENCES [dbo].[线路] ([线路号])
GO
ALTER TABLE [dbo].[线路安排] CHECK CONSTRAINT [FK_线路安排_线路]
GO
USE [master]
GO
